 /* This is a single-line comment */

img {
    display: block;
    width: 100%;
    height: 100%;

}

body, p, h1, ul, li, blockquote {
    padding: 0px;
    margin: 0px;

}

body {
    font-family: arial, impact, serif;
    padding: 50px;
    /* background-image: url("/img/bg.jpeg"); */
}



li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:active {
    color: none;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 0px 10px 0;
    column-gap: 50px;
    
}

.header .logo {
    max-width: 300px;
    flex-shrink: 0;
}

.menu {
    flex: 0 1 auto;
    display: flex;
    padding: 10px 10px 10px 10px;
}

.menu li + li {
    margin-left: 50px;
}

.menu li {
    flex: 1 1 100px;
}

.menu li a {
    font-size: 1.8em;
    color: black;
}

/* Grid content */
.container {
    display: flex;
    margin: 0px auto;
    grid-gap: 50px 0px;
    max-width: 1200px;
}



.boxesimg {
    overflow: hidden;
    flex: 1 0 400px;
}


.label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    padding: 10px;
    border: 0px solid white;
    background-color: #d9e4da;
}

/* Labels design */

.label.leftbox {
    border-right: dashed;
    border-width: 2px 4px 2px 2px;
    border-radius: 15px 0 0 0;
}

.label.rightbox {
    border-left: dashed;
    border-width: 2px 2px 2px 4px;
    border-radius:  0 0 15px 0;
}


/* Label Content */
.label p {
    text-align: center;
}

.label .title {
    font-size: 3em;
}

hr {
width: 80%;
}

.label .subtitle {
    font-size: 2em;
    border-bottom: 1px;
}

/* Img boxes*/

.boxesimg {
    object-fit: fill;
    min-width: auto;
}

.imgright {

    border-radius: 0 0 15px 0;
}

.imgleft {

    border-radius: 15px 0 0  0;
}

/* Description */

.description {
    text-align: center;
    font-size: 1.5em;
    margin: 50px 0;
    padding: 0 50px;
}


/* FOOTER */

.footer {
    background-color: #d9e4da;
    margin-top: 30px;
    padding: 5px;
    text-align: center;

}


/* PRODUCTS PAGE */


.containerproducts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

.productimgthumb {
    grid-area: img;
    object-fit: fill;
    flex-grow: 1;
    /* border-radius: 0 0 10px 10px;         */

}

.allinfoshort {
    /* border: 5px solid pink; */
    grid-area: allinfo;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas:
        "name price"
        "shortdescrip shortdescrip";

        border-top: 4px dashed rgb(77, 76, 76);
        background-color: #c7c4c310;
}



.product {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: 
        "img"
        "allinfo";
}

.short {
    margin-top: 10px;
    padding: 0 10px;
}

.name.short {
    grid-area: name;
}

.price.short {
    grid-area: price;
    text-align: end;
}

.descriptionshort {
    font-size: 1em;
    grid-area: shortdescrip;
    background-color: #d9e4da;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}


